<% provide(:title, "Resume") %>
<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <%= image_tag("me-profile.png", alt: "my profile") %>
    </div>
    
    <div id="name">
      <h1 class="quickFade delayTwo">Kaiwen Zheng</h1>
      <h4 class="quickFade delayThree">Computer Engineering Student at RIT</h2>
    </div>
    
    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li><a href="mailto:kxz6582@rit.edu" target="_top">Email me</a></li>
        <li><a href="https://github.com/kaiwen2times">Connect me on github</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  
  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>Objective</h1>
        </div>
        
        <div class="sectionContent">
          <p>Motivated computer engineering student at Rochester Institute of Technology with strong project-based experience available for an internship in the summer of 2017.</p>
        </div>
      </article>
      <div class="clear"></div>
    </section>
    
    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>
      
      <div class="sectionContent">
        <article>
          <h2>Rochester Institude of Technology</h2>
          <p class="subDetails">September 2014 - Present</p>
          <p>Bachelors of Science in Computer Engineering.
          <br>Expected graduation in December 2017.</p>
        </article>
        
        <article>
          <h2>Monroe Community College</h2>
          <p class="subDetails">September 2012 – May 2014</p>
          <p>Associate degree in Computer Engineering.
          <br>Vice President of Event for Engineering Leadership Council
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Key Skills</h1>
      </div>
      
      <div class="sectionContent">
        <h4>Programming</h2>
        <ul class="keySkills">
          <li>Agile/scrum methodology</li>
          <li>Java</li>
          <li>Ruby</li>
          <li>C</li>
          <li>C++</li>
          <li>Assembly</li>
        </ul>

        <h4>Web Development</h2>
        <ul class="keySkills">
          <li>Javascript</li>
          <li>React</li>
          <li>Angularjs 1.x</li>
          <li>Angularjs 2</li>
          <li>Jquery</li>
          <li>Spring framework</li>
          <li>Ruby on rails</li>
          <li>Django</li>
        </ul>

        <h4>Web Design</h2>
        <ul class="keySkills">
          <li>HTML</li>
          <li>CSS</li>
          <li>Sass</li>
          <li>Bootstrap</li>
        </ul>

        <h4>Cloud Computing</h2>
        <ul class="keySkills">
          <li>AWS</li>
          <li>Heroku</li>
          <li>Docker</li>
        </ul>

        <h4>Embeded System</h2>
        <ul class="keySkills">
          <li>Arduino</li>
          <li>Raspberry pi</li>
          <li>FPGA</li>
          <li>VHDL</li>
          <li>Verilog</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>
    
    <section>
      <div class="sectionTitle">
        <h1>Work Experience</h1>
      </div>
      
      <div class="sectionContent">
        <article>
          <h2>Constant Contact</h2>
          <p class="subDetails">May 2016 - December 2016</p>
          <p>LDesigned, developed, and tested front-end functionality as a member of the "Toolkit" scrum team. Responsibilities included utilizing Spring framework to create controllers and endpoints, Implementing UI functionalities, and writing unit and integration tests with Jasmine and Junit.</p>
        </article>
        
        <article>
          <h2>Eagledream Health</h2>
          <p class="subDetails">May 2015 - January 2016</p>
          <p>Worked as full-stack software developer in a scrum team. Primarily focused on front-end development and testing for EagleDream Health app. Responsibilities included writing queries to retrieve data, creating Restful endpoints, developing UI features, and writing front-end unit and integration tests.</p>
        </article>

      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Projects</h1>
      </div>
      
      <div class="sectionContent">
        <article>
          <h2>HealthNet</h2>
          <p class="subDetails">Python, Django, Javascript, HTML, CSS, Sqlite3</p>
          <p>Worked with a small team to develop a Django framework web application for hospitals as a class project. The application provided features for managing employees, gathering health related data, signing up patients, making appointments, and allowing transfer of patients between hospitals.</p>
        </article>
        
        <article>
          <h2>Expense Tracker</h2>
          <p class="subDetails">Angularjs, Javascript, HTML, CSS</p>
          <p>Using angularjs 1.x and plain javascript to contruct a web app capable of authenticating users and interacting with Expensify API to retrieve information about expenses</p>
        </article>

        <article>
          <h2>
            <a class="sub-link" href="https://www.youtube.com/watch?v=08yEyLyxS3c">Trinity College Fire Fighting Robot Contest</a>
          </h2>
          <p class="subDetails">C, Arduino, Solidworks</p>
          <p>Performed as the project manager and programmer in small team to build a robot that can navigate inside a model house, detect and extinguish candle fire with compressed CO2.</p>
        </article>

        <article>
          <h2>ASEE National Robotics Competition</h2>
          <p class="subDetails">C, Arduino</p>
          <p>Worked with a small team as the lead programmer to build a robot capable of racing around an oval track and avoid obstacles on the track. Won 3rd place in ASEE National Robotics Competition in 2014.</p>
        </article>

        <article>
          <h2>
            <a class="sub-link" href="https://www.youtube.com/watch?v=6mLF0HtRhHY">NXP Cup North America 2016</a>
          </h2>
          <p class="subDetails">C, Assembly, ARM</p>
          <p>Built and programmed an autonomous model car using a camera and PID algorithm to race around the track provided by NXP. Placed second in NXP Cup East Coast and forth in the North America Finals.</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
    
  </div>
</div>